.kalkitext{
    line-height: 1.5;
    font-size: 9vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    background: linear-gradient(90deg, #000000 0%, #0c008d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.kalkitext:hover{
    cursor: pointer;
    /* filter: drop-shadow(0 0 4px rgba(21, 0, 255, 0.623)); */
    /* animation: grayToColorKalki 1.9s ease-in linear; */
}

.kalkimain{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    align-items: center;
    justify-content: center;
}

@keyframes grayToColorKalki {
    0% {
        filter: rgb(128, 128, 128);
        -webkit-filter: grayscale(100%);
    }

    25% {
        filter: rgb(64, 64, 64);
        -webkit-filter: grayscale(75%);
    }

    50% {
        filter: rgb(32, 32, 32);
        -webkit-filter: grayscale(50%);
    }

    75% {
        filter: rgb(16, 16, 16);
        -webkit-filter: grayscale(25%);
    }

    100% {
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}
