.kalkitext{
    font-weight: 1000;
    line-height: 1.5;
    height: 50vh;
    font-size: 25vh;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Sohne';
    margin-top: auto;
    margin-bottom: auto;
    height: max-content; 
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media (max-width : 1145px) {
    .kalkitext{
        font-size: 17vw;

    }
}

.kalkitext:hover{
    cursor: pointer;
}

.kalkimain{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    align-items: center;
    justify-content: center;
}

@keyframes grayToColorKalki {
    0% {
        filter: rgb(128, 128, 128);
        -webkit-filter: grayscale(100%);
    }

    25% {
        filter: rgb(64, 64, 64);
        -webkit-filter: grayscale(75%);
    }

    50% {
        filter: rgb(32, 32, 32);
        -webkit-filter: grayscale(50%);
    }

    75% {
        filter: rgb(16, 16, 16);
        -webkit-filter: grayscale(25%);
    }

    100% {
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}
