.card {
    padding: 5px;
    margin: 40px;
    margin-right: 5%;
    margin-left: 5%;
    width: inherit;
    cursor: pointer;
    /* transition: all 0.3s ease-out; */
    overflow: hidden;
    transition: 0.3s ease-out;
    background-color:var(--background);
    border-radius: 5px;
    /* border-top: 1px #fafafa solid ; */
}
