@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.contactss{
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
}


.contact{
    padding: 2%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: initial;
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.cc{
    padding-top: 3%;
    color: gray;
    text-align: justify;
    align-items: center;
    font-family: "Poppins";
    font-size: x-small;
}

.contact:hover{
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    color: black;
    transition-timing-function: ease-in-out;
    filter: drop-shadow(0 0 45px rgba(255, 0, 132, 0.801));
}