.left_card {
    position: sticky;
    z-index: 1;
    top: 0;
}

.profile-photo{
    border-radius: 5px;
    height: 5vw;
    width: 5vw;
    transition: transform 0.3s ease-in;
    transform: scale(1);
}

.profile-photo:hover{
    transition: transform 0.2s ease-in;
    transform: scale(1.1);
}

.dividor{
    display: table;
    clear: both;
}

.left-bar-left{
    float: left;
    width: 5vw;
}

.left-bar-right{
    float: left;
    padding-left: 2vw;
    font-family: Sans-Serif;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.profile-name{
    background: linear-gradient(90deg, #F88379 0%, #0c008d 100%);
    font-size: 1.55rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dob-text{
    color: gray;
}

@media (max-width : 600px) {
    .left_card {
        position: static;
        z-index: 1;
        top: 0;
    }
    .profile-photo {
        border-radius: 5px;
        height: 8vw;
        width: 8vw;
        margin-top: auto;
        margin-bottom: auto;
    }
    .dob-text {
        font-size: 1rem;
    }

    .dividor {
        display: flex;
        flex-direction : row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }

    .left-bar-left {
        float: left;
        width: 5vw;
    }

    .left-bar-right {
        float: left;
        padding-left: 2vw;
        font-family: Sans-Serif;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
    }

    .profile-name {
        background: linear-gradient(90deg, #000000 0%, #0c008d 100%);
        font-size: 5vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .link {
        font-size: 2.9vw;
    }
}

@media (max-width : 1265px)  and (min-width : 600px) {
    .dividor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dob-text {
        font-size: 1rem;
    }
    .left-bar-left{
        float: center;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .left-bar-right{
        justify-content: center;
        align-items: center;
        padding-left: 0;
        text-align: center;
    }
    .profile-photo {
        border-radius: 5px;
        height: 9vw;
        width: 9vw;
    }
    .links {
        display: flex;
        flex-direction: column;
    }
    .link {
        font-size: 1.15em;
    }
    .contact{
        height: 2.5vw;
        width: 2.5vw;
    }
}

@media (min-width : 1265px) {
    .links {
        display: flex;
        flex-direction: column;
    }
    .link{
        font-size: 1.6vw;
    }
    .dob-text {
        font-size: 1rem;
    }
}



.links > a {
    padding-top: 10px;
    width: 100%;
}

.link {
    border: 0.5px solid #F88379;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #F88379;
    cursor: pointer;
    padding: 1rem;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.link:hover{
    border: 0.5px solid #0c008d;
    /* background: linear-gradient(75deg, #F88379 0%, #0c008d 60%, #0c008d 100%); */
    color: #0c008d;
}