@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.theme-changer{
    border-color: var(--textcolor);
    border-width: 0.1px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--background);
    color: var(--textcolor);
    font-size: 1.2rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: light;
    font-family: 'Sohne', system-ui,
            -apple-system,
            Helvetica Neue,
            Arial,
            sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    position: sticky;
    -webkit-position: sticky;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--background);
    row-gap: 5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    transition: all 0.5s ease;

    position: sticky;
    top: 0;
    z-index: 2;
} 


.name{
    margin-right: auto;
    font-size: 1.5rem;
    margin-left: 20%;
    color: var(--textcolor);
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    font-family: 'Sohne', system-ui,
            -apple-system,
            Helvetica Neue,
            Arial,
            sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: light;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-links{
    margin-right: 25%;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: var(--textcolor);
    cursor: pointer;
    padding: 1rem;
    font-size: 1.25rem;
    font-family: 'Sohne', system-ui,
        -apple-system,
        Helvetica Neue,
        Arial,
        sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


@media (max-width:910px) {
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        align-items: center;
        padding-bottom: 2%;
    }
    .name{
        justify-self: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-links{
        display: flex;
        flex-direction: row;
        margin-right: 0;
        
    }

}


