.skills{

    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    justify-content: space-between;
    margin: 2%;
    
}
  
.skills img {
    display: inline-block;
    font-size:initial;
    padding: 2%;
    /* animation: ColorToGray 1.9s ease-in linear; */
    filter: drop-shadow(0 0 0 #0c008d);
    /* background-color: rgb(221, 221, 221); */
    border-radius: 5px;
}

.skills img:hover {
    filter: drop-shadow(0 0 5px #0c008d);
}

@keyframes grayToColor {
    0%{
        filter: rgb(128, 128, 128);
        -webkit-filter: grayscale(50%);
    }
    25%{
        filter: rgb(64,64,64);
        -webkit-filter: grayscale(40%);
    }
    50% {
        filter: rgb(32, 32, 32);
        -webkit-filter: grayscale(30%);
    }
    75% {
        filter: rgb(16, 16, 16);
        -webkit-filter: grayscale(20%);
    }
    100%{
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}

@keyframes ColorToGray {
    100% {
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    50% {
        filter: rgb(64, 64, 64);
        -webkit-filter: grayscale(50%);
    }

    0% {
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}