.skills{
    /* padding: 5%;
    display:flex; */
    /* background-image: url(./bg.png); ffffff ffdddd ffb9b9 */
    /* background-size:  cover; */
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
}
  
.skills img {
    display: inline-block;
    font-size:initial;
    padding: 2%;
    /* transition-delay: 0.5s; */
    /* filter: gray; */
    /* -webkit-filter: grayscale(100%); */
    animation: ColorToGray 1.9s ease-in linear;
}

.skills img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 30px rgba(255, 0, 132, 0.623));
    animation: grayToColor 1.9s ease-in linear;
}

@keyframes grayToColor {
    0%{
        filter: rgb(128, 128, 128);
        -webkit-filter: grayscale(100%);
    }
    25%{
        filter: rgb(64,64,64);
        -webkit-filter: grayscale(75%);
    }
    50% {
        filter: rgb(32, 32, 32);
        -webkit-filter: grayscale(50%);
    }
    75% {
        filter: rgb(16, 16, 16);
        -webkit-filter: grayscale(25%);
    }
    100%{
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}

@keyframes ColorToGray {
    100% {
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    50% {
        filter: rgb(64, 64, 64);
        -webkit-filter: grayscale(50%);
    }

    0% {
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}